.form {
  width: max-content;
  margin: auto;
  background: rgb(82, 190, 143);
  padding: 10px;
  width: max-content;
  border: 1px solid rgb(10, 162, 106);
  border-radius: 10px;
  h1 {
    text-align: center;
    color: rgb(230, 230, 230);
    letter-spacing: 2px;
    font-weight: 500;
  }
}
form {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input,
  .login,
  .signup {
    width: 170px;
    height: 30px;
    border: none;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
  }
  #login,
  #signup {
    background: rgb(0, 55, 84);
    color: rgb(227, 227, 227);
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
  }
  .login,
  .signup {
    border: 1px solid rgb(238, 238, 238);
    background: rgb(0, 84, 70);
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    color: rgb(227, 227, 227);
    text-align: center;
    text-decoration: none;
  }
}